<footer>
  <div class="footer">
    <div class="wrapper">
      <p class="footerleft">© 2012 PrimeBee. All Rights Reserved </p>
      <div class="footerright">
        <ul>
          <li><%= link_to "About PrimeBee",   about_path %> | </li>

          <li><%= link_to "Why PrimeBee",   why_path %> | </li>

          <li><%= link_to "PrimeBee Tour",   construction_path %> | </li>

          <li><%= link_to "Your Privacy",   construction_path %> | </li>

          <li><%= link_to "Join Us",   construction_path %> | </li>

          <li><%= link_to "Contact PrimeBee",   construction_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>