<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta itemprop="name" content="Primbee Bringing India's smartest together!">
		<meta itemprop="description" content="community for smart people, social media, networking">
		<link href='http://fonts.googleapis.com/css?family=Magra' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Imprima' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="http://primebee.com/favicon.ico" type="image/x-icon" />
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="wrapper">
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>
